* {
  margin: 0%;
}

body {
  padding: 0;
  margin: 0;	
}

.content {
  background-color: white;
  margin: 0;
  font-family: Arial;
  color: blue;
  font-size: 20px;
  min-height: 100%;
}

header {
  background-color: green;
  color: white;
  width: 100%;
  height: 40px;
  text-align: center;
  font-family: "Courier New";
  font-weight: normal;
  line-height: 40px;
  min-width: 100%;
  min-height: 40px;
}

.container {
  background-color: blue;
  color: white;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  width: 29%;
}

footer {
  background-color:green;
  color: white;
  width: 100%;
  height: 40px;
  text-align: center;
  font-family: Arial;
  font-weight: normal;
  line-height: 40px;
  max-width: 100%;
  max-height: 40%;
}

aside {
  padding: 20px;
  margin-left: 50px;
}

.hel {
  padding-top: 22px;
  padding-left: 23px;
  color: black
  font-weight: bold;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
}

.content h1 {
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  color: white;
}

.square {
  position: relative;
  box-sizing: content-box;
  height: 100px;
  width: 100px;
  margin: 20px 25px 20px 0px;
  border-style: solid;
  border-width: thick;
  border-color: white;
  background-color: blue;
  border-radius: 15px 0px 30px 0px;
  float: left;
  margin-top: 20px;
  margin-left: 25px;
  overflow: visible;
  clear: both;
}

.txt {
  color: white;
  padding-top: 20px;
  padding-left: 23px;
  font-weight: normal;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;


}

.csd {
  padding-top: 10px;
  font-size: 1em;
  color:red;
  text-decoration: underline;
  text-decoration-color: red;
  text-align:center

}

.here {
  padding-top: 10px;
  padding-left: 23px;
  word-spacing: 10px;
  font-weight: bold;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  visibility: visible;

}

ul {
  list-style-type: none;
}
 
li {
  font-size: 18px;
  color: white;
}

li:before {
  content: "\2022";
  color: white;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
  }

.val {
  line-height: 170%;
  padding-left: 24px;
  font-size: 18px;
}

.vis {
  padding-top: 10px;
  padding-left: 23px;
  line-height: 170%;
  font-size: 18px;
}

.lin {
  padding-top: 16px;
  padding-left: 24px;
  padding-bottom: 12px;
  font-size: 18px;
}





